/.idea/
/tomcat*/
/.gradle/
/*iml
/build/
/account-service/build/
/account-service/out/
/core/build/
/core/out/
/core/*/build/
/core/*/out/
/email/build/
/email/out/
/email/*/build/
/email/*/out/
/captcha/build/
/captcha/out/
/captcha/*/build/
/captcha/*/out/
/oauth-db/build/
/oauth-db/out/
/oauth-server/build/
/oauth-server/out/
/frontend/dist/
/frontend/node_modules/
/frontend/package-lock.json
/tmp/
/logs/
*/logs/

